<html>

<head>
<title>Zadanie8:Gdy ograniczyæ siê tylko do aut z silnikiem ponad 100 KM, która Marka wystêpuje najczêœciej w zbiorze danych auta2012?</title>
</head>

<body>


<!--begin.rcode
enginePowerAbove100KM <-filter(auta2012, KM > 100)
tail(names(sort(table(enginePowerAbove100KM$Marka))), 1)
end.rcode-->



</body>
</html>
