<html>

<head>
<title>Zadanie1:Która Marka wystêpuje najczêœciej w zbiorze danych auta2012?</title>
</head>

<body>

<!--begin.rcode
tail(names(sort(table(auta2012$Marka))), 1)
end.rcode-->

</body>
</html>
