<html>

<head>
<title>Zadanie 4:Gdy ograniczyæ siê tylko do aut wyprodukowanych w 2007, która Marka wystêpuje najczêœciej w zbiorze danych auta2012?</title>
</head>

<body>



<!--begin.rcode
carsProducedIn2007 <-filter(auta2012, Rok.produkcji == 2007)
cars <- select(carsProducedIn2007, Marka)
sort(table(cars),decreasing=TRUE)[1:1]
end.rcode-->





</body>
</html>
