<html>

<head>
<title>Zadanie2:Spoœród aut marki Toyota, który model wystêpuje najczêœciej.
</title>
</head>

<body>



<!--begin.rcode
toyota <-filter(auta2012, Marka == "Toyota")
tail(names(sort(table(toyota$Model))), 1)
end.rcode-->

</body>
</html>
